<div class="shadow-lg">
  <div class="container col-xl-10 col-xxl-8 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">
          Calculate your net income
        </h1>
        <p class="col-lg-10 fs-4">
          How much will you really earn as a freelancer in Belgium?
          This tool will help you estimate your net income after deducing
          social contributions and personal income tax.
        </p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <div class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
          <div class="form-floating mb-3">
            <input
              type="number"
              class="form-control"
              id="revenueInput"
              min="0"
              placeholder="0"
              [formControl]="revenueFormControl"
            />
            <label for="revenueInput">My annual revenue (€)</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="number"
              class="form-control"
              id="inputExpenses"
              placeholder="0"
              [formControl]="expensesFormControl"
            />
            <label for="inputExpenses">My annual professional expenses (€)</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

@if (revenueFormControl.value !== null) {
  <div class="bg-{{ calculatorSignal().getAnnualNetIncome() > 0 ? 'primary' : 'danger' }} text-light py-5">
    <div class="container">
      <div id="results">
        <div class="display-6">
          Your net income estimate:
        </div>
        <div class="display-4">
          {{ formatAmountOfMoney(calculatorSignal().getMonthlyNetIncome()) }} per month
        </div>
        <div>
          or, {{ formatAmountOfMoney(calculatorSignal().getAnnualNetIncome()) }} per year
        </div>
      </div>
    </div>
  </div>
}


@if (revenueFormControl.value === null) {

  <div class="container">
    <div class="card bg-warning-subtle my-5">
      <div class="card-body">
        <h3 class="card-title">Before you start&hellip;</h3>
        <p class="card-text">
          This very simple application was written as a little programming exercise with Angular.
          It doesn't pretend to be a fully fledged tax simulator.
        </p>
        <p class="card-text">
          It produces accurate results, though! Just be aware of some limitations: 
        </p>
        <ul class="card-text">
          <li>It's based on income tax year 2025 rates (assessment year 2026).</li>
          <li>The social fund fee calculation is based on Partena Professional rate. Other social funds
            may apply different rates.</li>
          <li>The municipal tax calculation is based on the City of Brussels rate. Your municipality
            may apply a different rate.</li>
          <li>Dependants are not taken into account.</li>
        </ul>
        <p><a href="https://github.com/alexandre-perard/freelancer-net-income">The source code is available on Github.</a></p>
      </div>
    </div>
  </div>

} @else {

  <div class="bg-light py-5">
    <div class="container">
      <h2 class="display-4">Detailed calculation</h2>

      <h3 class="display-6">Declared expenses</h3>
      @if (calculatorSignal().getDeclaredExpenses() <= calculatorSignal().getMinDeclaredExpenses()) {
        <p>
          Instead of your actual expenses ({{ formatAmountOfMoney(calculatorSignal().getAnnualExpenses()) }}),
          you are allowed to declare a statutory fixed amount ({{ formatAmountOfMoney(calculatorSignal().getMinDeclaredExpenses()) }}).
          In your case, this is the best option.
        </p>
      } @else {
        <p>
          Your actual expenses ({{ formatAmountOfMoney(calculatorSignal().getAnnualExpenses()) }}) are above
          the statutory fixed amount ({{ formatAmountOfMoney(calculatorSignal().getMinDeclaredExpenses()) }}).
          In your case, declaring your actual expenses is the best option.
        </p>
      }
      <table class="table" style="max-width: 40rem;">
        <tbody>
          <tr>
            <th scope="row">Revenue</th>
            <td class="text-end">{{ formatAmountOfMoney(calculatorSignal().getAnnualRevenue()) }}</td>
          </tr>
          <tr>
            <th scope="row">Declared expenses</th>
            <td class="text-end">&minus;&nbsp;{{ formatAmountOfMoney(calculatorSignal().getDeclaredExpenses()) }}</td>
          </tr>
        </tbody>
        <tfoot class="table-group-divider">
          <tr>
            <th scope="row">Net profit</th>
            <td class="text-end">&equals;&nbsp;{{ formatAmountOfMoney(calculatorSignal().getNetProfit()) }}</td>
          </tr>
        </tfoot>
      </table>

      <h3 class="display-6">Social contributions</h3>
      <p>
        The amount of social contributions is based on your net profit. Your social security fund
        will also charge a fee which is a fixed percentage of your social contributions.
      </p>
      <table class="table" style="max-width: 40rem; opacity: 0.4;">
        <tbody>
          <tr>
            <th scope="row">Your net profit</th>
            <td class="text-end">{{ formatAmountOfMoney(calculatorSignal().getNetProfit()) }}</td>
          </tr>
          <tr>
            <th scope="row">Minimum calculation basis</th>
            <td class="text-end">{{ formatAmountOfMoney(calculatorSignal().getSocoSubcalculator().getMinNetProfit()) }}</td>
          </tr>
          <tr>
            <th scope="row">Your calculation basis</th>
            <td class="text-end">{{ formatAmountOfMoney(calculatorSignal().getSocoSubcalculator().getCalulationBasis()) }}</td>
          </tr>
        </tbody>
      </table>
      <table class="table" style="max-width: 40rem; opacity: 0.4;">
        <tbody>
          @for (bracket of calculatorSignal().getSocoSubcalculator().getSocoBrackets(); track $index) {
            <tr>
              <th scope="row">
                Bracket {{ $index + 1 }}:
                {{ formatAmountOfMoney(bracket.min) }} &rarr; 
                @if (bracket.max !== null) {
                  {{ formatAmountOfMoney(bracket.max) }}
                } @else {
                  &hellip;
                }
                ({{ formatPercentage(bracket.rate) }})
              </th>
              <td class="text-end">{{ formatAmountOfMoney(bracket.result) }}</td>
            </tr>
          }
        </tbody>
        <tfoot class="table-group-divider">
          <tr>
            <th scope="row">Social contributions</th>
            <td class="text-end">{{ formatAmountOfMoney(calculatorSignal().getSocoSubcalculator().getSoco()) }}</td>
          </tr>
        </tfoot>
      </table>
      <table class="table" style="max-width: 40rem;">
        <tbody>
          <tr>
            <th scope="row">Net profit</th>
            <td class="text-end">{{ formatAmountOfMoney(calculatorSignal().getNetProfit()) }}</td>
          </tr>
          <tr>
            <th scope="row">Social contributions</th>
            <td class="text-end">&minus;&nbsp;{{ formatAmountOfMoney(calculatorSignal().getSocoSubcalculator().getSoco()) }}</td>
          </tr>
          <tr>
            <th scope="row">Social security fund fee ({{ formatPercentage(calculatorSignal().getSocoSubcalculator().getFundFeeRate()) }})</th>
            <td class="text-end">&minus;&nbsp;{{ formatAmountOfMoney(calculatorSignal().getSocoSubcalculator().getFundFee()) }}</td>
          </tr>
        </tbody>
        <tfoot class="table-group-divider">
          <tr>
            <th scope="row">Profit after social contributions</th>
            <td class="text-end">&equals;&nbsp;{{ formatAmountOfMoney(calculatorSignal().getProfitAfterSoco()) }}</td>
          </tr>
        </tfoot>
      </table>

      <h3 class="display-6">Personal income tax</h3>
      <p>
        First, we determine the initial value of your personal income tax. Then, we determine your personal
        tax allowance based on the basic amount of exempted income
        ({{ formatAmountOfMoney(calculatorSignal().getPitSubcalculator().getBasicAmountForPersonalAllowance()) }}).
        Finally, we apply the additional municipal tax.
      </p>
      <table class="table" style="max-width: 40rem; opacity: 0.4;">
        <tbody>
          @for (bracket of calculatorSignal().getPitSubcalculator().getPitBrackets(); track $index) {
            <tr>
              <th scope="row">
                Bracket {{ $index + 1 }}:
                {{ formatAmountOfMoney(bracket.min) }} &rarr; 
                @if (bracket.max !== null) {
                  {{ formatAmountOfMoney(bracket.max) }}
                } @else {
                  &hellip;
                }
                ({{ formatPercentage(bracket.rate) }})
              </th>
              <td class="text-end">{{ formatAmountOfMoney(bracket.result) }}</td>
            </tr>
          }
        </tbody>
        <tfoot class="table-group-divider">
          <tr>
            <th scope="row">Initial personal income tax</th>
            <td class="text-end">{{ formatAmountOfMoney(calculatorSignal().getPitSubcalculator().getPitBeforeAllowance()) }}</td>
          </tr>
        </tfoot>
      </table>
      <table class="table" style="max-width: 40rem; opacity: 0.4;">
        <tbody>
          @for (bracket of calculatorSignal().getPitSubcalculator().getAllowanceBrackets(); track $index) {
            <tr>
              <th scope="row">
                Bracket {{ $index + 1 }}:
                {{ formatAmountOfMoney(bracket.min) }} &rarr; 
                @if (bracket.max !== null) {
                  {{ formatAmountOfMoney(bracket.max) }}
                } @else {
                  &hellip;
                }
                ({{ formatPercentage(bracket.rate) }})
              </th>
              <td class="text-end">{{ formatAmountOfMoney(bracket.result) }}</td>
            </tr>
          }
        </tbody>
        <tfoot class="table-group-divider">
          <tr>
            <th scope="row">Personal income tax allowance</th>
            <td class="text-end">{{ formatAmountOfMoney(calculatorSignal().getPitSubcalculator().getAllowance()) }}</td>
          </tr>
        </tfoot>
      </table>
      <table class="table" style="max-width: 40rem; opacity: 0.4;">
        <tbody>
          <tr>
            <th scope="row">Initial personal income tax</th>
            <td class="text-end">{{ formatAmountOfMoney(calculatorSignal().getPitSubcalculator().getPitBeforeAllowance()) }}</td>
          </tr>
          <tr>
            <th scope="row">Personal income tax allowance</th>
            <td class="text-end">&minus;&nbsp;{{ formatAmountOfMoney(calculatorSignal().getPitSubcalculator().getAllowance()) }}</td>
          </tr>
        </tbody>
        <tfoot class="table-group-divider">
          <tr>
            <th scope="row">Personal income tax</th>
            <td class="text-end">&equals;&nbsp;{{ formatAmountOfMoney(calculatorSignal().getPitSubcalculator().getPit()) }}</td>
          </tr>
        </tfoot>
      </table>
      <table class="table" style="max-width: 40rem;">
        <tbody>
          <tr>
            <th scope="row">Profit after social contributions</th>
            <td class="text-end">{{ formatAmountOfMoney(calculatorSignal().getProfitAfterSoco()) }}</td>
          </tr>
          <tr>
            <th scope="row">Personal income tax</th>
            <td class="text-end">&minus;&nbsp;{{ formatAmountOfMoney(calculatorSignal().getPitSubcalculator().getPit()) }}</td>
          </tr>
          <tr>
            <th scope="row">Municipal tax ({{ formatPercentage(calculatorSignal().getPitSubcalculator().getMunicipalTaxRate()) }})</th>
            <td class="text-end">&minus;&nbsp;{{ formatAmountOfMoney(calculatorSignal().getPitSubcalculator().getMunicipalTax()) }}</td>
          </tr>
        </tbody>
        <tfoot class="table-group-divider">
          <tr>
            <th scope="row">Profit after social contributions and taxes</th>
            <td class="text-end">&equals;&nbsp;{{ formatAmountOfMoney(calculatorSignal().getProfitAfterSocoAndTaxes()) }}</td>
          </tr>
        </tfoot>
      </table>

      @if (calculatorSignal().getFictitiousExpenses() > 0) {
        <h3 class="display-6">Fictitious expenses</h3>
        <p>
          Since you are declaring a statutory amount of professional expenses, part of your declared
          expenses is fictitious and contributes in reality to your net income. This is why we add them
          back to your real net income.
        </p>
        <table class="table" style="max-width: 40rem;">
          <tbody>
            <tr>
              <th scope="row">Profit after social contributions and taxes</th>
              <td class="text-end">{{ formatAmountOfMoney(calculatorSignal().getProfitAfterSocoAndTaxes()) }}</td>
            </tr>
            <tr>
              <th scope="row">Fictitious expenses (declared expenses &minus; actual expenses)</th>
              <td class="text-end">&plus;&nbsp;{{ formatAmountOfMoney(calculatorSignal().getFictitiousExpenses()) }}</td>
            </tr>
          </tbody>
          <tfoot class="table-group-divider">
            <tr>
              <th scope="row">Net income</th>
              <td class="text-end">&equals;&nbsp;{{ formatAmountOfMoney(calculatorSignal().getAnnualNetIncome()) }}</td>
            </tr>
          </tfoot>
        </table>
      }

    </div>
  </div>

}
